<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.nd.gaea.web" />

    <bean id="viewModelScanner" class="com.nd.gaea.web.model.ViewModelScanner">
        <constructor-arg name="packagePaths" value="com.nd.gaea.web.model.entry"/>
        <constructor-arg name="filter">
            <list>
                <value>com.nd.gaea.core.model.ViewModelMapping</value>
            </list>
        </constructor-arg>
    </bean>

</beans>