<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:sec="http://www.springframework.org/schema/security"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					http://www.springframework.org/schema/beans/spring-beans.xsd
	   					http://www.springframework.org/schema/context
	   					http://www.springframework.org/schema/context/spring-context.xsd
	   					http://www.springframework.org/schema/aop
	   					http://www.springframework.org/schema/aop/spring-aop.xsd
	   					http://www.springframework.org/schema/security
	   					http://www.springframework.org/schema/security/spring-security.xsd">

    <!--<context:annotation-config/>-->
    <context:component-scan base-package="gaea.platform.security"/>

    <sec:global-method-security pre-post-annotations="enabled"/>
    <sec:http pattern="/favicon.ico" security="none"/>
    <sec:http pattern="/login.jsp*" security="none"/>
    <sec:http pattern="/pages/captcha.jsp*" security="none"/>
    <sec:http pattern="/js/**" security="none"/>
    <sec:http pattern="/css/**" security="none"/>
    <sec:http pattern="/images/**" security="none"/>

    <sec:http use-expressions="true" entry-point-ref="authenticationProcessingFilterEntryPoint"
              access-denied-page="/accessDenied.jsp" auto-config="true">
        <!--<form-login login-page="/login.jsp" always-use-default-target="true"-->
        <!--default-target-url="/index.jsp" authentication-failure-url="/login.jsp?error=true"-->
        <!--authentication-failure-handler-ref="loginFailureHandler"-->
        <!--authentication-success-handler-ref="loginSuccessHandler"/>-->
        <sec:form-login login-page="/login.jsp"/>
        <!--<sec:intercept-url pattern="/index***.jsp" access="project:xxxx"/>-->
        <sec:logout invalidate-session="true" logout-url="/logout" success-handler-ref="logoutSuccessHandler"/>
        <sec:session-management>
            <sec:concurrency-control error-if-maximum-exceeded="false" max-sessions="1"></sec:concurrency-control>
        </sec:session-management>
        <sec:remember-me services-ref="rememberMeServices"/>
        <!-- Custom Filter -->
        <sec:custom-filter ref="loginAuthenticationProcessingFilter" before="FORM_LOGIN_FILTER"/>
        <sec:custom-filter ref="securityFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
        <sec:custom-filter ref="userContextFilter" after="SWITCH_USER_FILTER"/>
        <sec:custom-filter ref="redirectFilter" position="LAST"/>
    </sec:http>

    <!-- 密码认证 -->
    <bean id="passwordAuthenticationProvider" class="gaea.platform.security.support.provider.PasswordAuthenticationProvider">
        <property name="userAuthorizeService" ref="userAuthorizeService"/>
    </bean>
    <!-- accessToken认证 -->
    <bean id="accessTokenAuthenticationProvider" class="gaea.platform.security.support.provider.AccessTokenAuthenticationProvider">
        <property name="userAuthorizeService" ref="userAuthorizeService"/>
    </bean>
    <!-- 认证管理 -->
    <sec:authentication-manager alias="authenticationManager" erase-credentials="false">
        <sec:authentication-provider ref="passwordAuthenticationProvider"/>
        <sec:authentication-provider ref="accessTokenAuthenticationProvider"/>
    </sec:authentication-manager>

    <bean id="authenticationProcessingFilterEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg index="0" name="loginFormUrl" value="/login.jsp"/>
    </bean>

    <!-- 登陆过滤器 -->
    <bean id="loginAuthenticationProcessingFilter"
          class="gaea.platform.security.web.AuthenticationProcessingFilter">
        <!--<property name="filterProcessesUrl" value="/j_spring_security_check"></property>-->
        <property name="authenticationSuccessHandler" ref="loginSuccessHandler"></property>
        <property name="authenticationFailureHandler" ref="loginFailureHandler"></property>
        <property name="authenticationManager" ref="authenticationManager"></property>
        <property name="rememberMeServices" ref="rememberMeServices"></property>
    </bean>

    <!-- 自动登录 -->
    <bean class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
        <constructor-arg name="authenticationManager" ref="authenticationManager"></constructor-arg>
        <constructor-arg name="rememberMeServices" ref="rememberMeServices"></constructor-arg>
    </bean>
    <bean id="rememberMeServices"
          class="gaea.platform.security.support.DefaultRememberMeServices">
        <constructor-arg name="key" value="huayuKey"/>
        <constructor-arg name="userDetailsService" ref="userAuthorizeService"/>
        <property name="alwaysRemember" value="false"/>
    </bean>

    <!-- 权限投票 -->
    <bean id="accessDecisionManager" class="gaea.platform.security.support.AccessDecisionManager">
        <constructor-arg index="0">
            <list>
                <bean class="org.springframework.security.access.vote.RoleVoter"/>
                <bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
                <bean class="gaea.platform.security.access.AuthenticatedVoter"/>
            </list>
        </constructor-arg>
    </bean>

    <!-- security过滤器 -->
    <bean id="securityFilter" class="gaea.platform.security.web.SecurityFilter">
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
        <property name="securityMetadataSource" ref="userSecurityMetadataSource"/>
    </bean>

    <!-- 用户上下文过滤器 -->
    <bean id="userContextFilter" class="gaea.platform.security.web.UserContextFilter">
        <property name="userService" ref="userService"></property>
    </bean>

    <!-- 重定向过滤器 -->
    <bean id="redirectFilter" class="gaea.platform.security.web.RedirectFilter"/>

    <!--登录成功后续处理操作-->
    <bean id="loginSuccessHandler" class="gaea.platform.security.internal.handler.LoginSuccessHandler">
        <property name="defaultTargetUrl" value="/main.jsp"></property>
    </bean>
    <!--登录失败后续处理操作-->
    <bean id="loginFailureHandler" class="gaea.platform.security.internal.handler.LoginFailureHandler">
        <property name="defaultFailureUrl" value="/login.jsp?error=true"/>
    </bean>
    <!--登出成功后续处理操作-->
    <bean id="logoutSuccessHandler" class="gaea.platform.security.internal.handler.LogoutSuccessHandler">
        <property name="defaultTargetUrl" value="/login.jsp"/>
    </bean>


    <!-- 默认的鉴权失败处理器 -->
    <bean id="defaultNoPurviewDealer" class="gaea.platform.security.framework.DefaultNoPurviewDealer"/>

    <!-- 鉴权AOP -->
    <bean id="securityScanner" class="gaea.platform.security.framework.SecurityScanner">
        <property name="noPurviewDealer" ref="defaultNoPurviewDealer"/>
    </bean>

    <!-- 注解扫描范围AOP配置 -->
    <aop:config>
        <aop:aspect id="securityAopAspect" ref="securityScanner">
            <!--配置com.spring.service包下所有类或接口的所有方法-->
            <aop:pointcut id="securityAopPointcut"
                          expression="within(gaea.web.demo..*)"/>
            <aop:around pointcut-ref="securityAopPointcut" method="around"/>
        </aop:aspect>
    </aop:config>

</beans>